---
import type { GetPostsQuery } from "../../../graphql/generated";
import query from "../../../get-posts.graphql?raw";
import { graphqlFetch } from "../../../lib/graphqlFetch";
import MainLayout from "../../../layouts/MainLayout.astro";
import BlogPosts from "../../../components/BlogPosts.astro";

const {after} = Astro.params;

const first = 5;

const data = await graphqlFetch<GetPostsQuery>(query, {
  first,
  after,
});

const posts = data.posts?.nodes ?? [];
const pageInfo = data.posts?.pageInfo ?? {
  hasNextPage: false,
  endCursor: null,
};
---
<MainLayout title="Blog">
  {posts.length === 0 ? (
    <section>
      <p>No Posts Yet!</p>
    </section>
  ) :
    <BlogPosts posts={posts} pageInfo={pageInfo}/>
  }
</MainLayout>