---
import MainLayout from "../layouts/MainLayout.astro"
---
<MainLayout title="Home">
    <div class="bg-tan-light">
        <div class="wrapper px-4 py-12 grid gap-8 grid-cols-1 sm:grid-cols-2">
            <div class="flex justify-center -rotate-3 sm:order-last"><img class="max-h-96 shadow-tan-dark shadow-2xl" src="https://brittleeallen.com/app/uploads/2023/02/IMG_3999.jpg" /></div>
            <div class="flex flex-col items-start justify-center">
                <span class="py-1 px-4 uppercase text-xs bg-tan-dark rounded-full">Featured</span>
                <h1 class="text-6xl mt-4 mb-2 font-serif">Lost Gifts</h1>
                <div class="text-lg">
                    <p class="font-serif italic text-black/80">"Tagline will be here"</p>
                    <p class="mt-4">
                        This is a larger set of content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam nobis asperiores dolores, error nihil nemo et laudantium atque labore fuga officia laboriosam at adipisci. Consequuntur est vero fugiat aliquid corrupti.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h1>Hello Astro</h1>
</MainLayout>