---
import BookSpotlight from "../components/BookSpotlight.astro"
import MainLayout from "../layouts/MainLayout.astro"
---
<MainLayout title="Home">
    <BookSpotlight
        bookTitle="Lost Gifts"
        bookTagline="This is a tagline"
        bookUrl="https://brittleeallen.com/app/uploads/2023/02/IMG_3999.jpg"
        bookQuote="<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio quis autem atque, nostrum optio fugit repellat voluptatem possimus quidem</p> <p>veritatis magnam nesciunt corrupti alias accusamus, aliquid maiores consequuntur reiciendis cupiditate.</p>"
     />
    <h1>Hello Astro</h1>
</MainLayout>